.header {
  background-color: var(--primary-color);
  height: 70px;
  width: 100%;
  max-width: 419px;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9999;
  box-sizing: border-box;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header.home {
  justify-content: space-between;
}

.header > img.logo {
  height: 24px;
  object-fit: contain;
}

.header svg.MuiSvgIcon-root {
  color: var(--white);
}

.header__info {
  display: flex;
  align-items: center;
}

.header__infoDetails {
  margin-left: 1rem;
  color: var(--white);
}

.header__infoDetails h3 {
  font-weight: 600;
}

.header__infoDetails p {
  font-weight: 300;
}

@media screen and (max-width: 460px) {
  .header {
    border-radius: 0;
  }
}
