.chat {
  flex: 1;
  position: relative;
}

.chat__body {
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 1rem;
  padding-top: 12px;
  overflow-y: auto;
}

.chat__body > h5 {
  font-weight: 400;
  padding: 8px 14px;
  text-align: center;
  background-color: var(--lighter-gray);
  border-radius: 20px;
}

.chat__form {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  max-width: 458px;
  left: initial;
  bottom: 0;
  background-color: var(--lighter-gray);
  align-items: center;
  justify-content: center;
}

.chat__form form {
  background-color: var(--white);
  display: flex;
  height: 40px;
  width: 95%;
  border-radius: 50px;
  justify-content: space-between;
}

.chat__form form input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 0.85rem;
  padding-left: 15px;
  border-radius: 50px;
}

.chat__form form .MuiButtonBase-root {
  color: var(--primary-color);
}

.chat__form form .MuiButtonBase-root:hover {
  background-color: var(--white);
  color: var(--secondary-color);
}
