.chat {
  flex: 1;
  position: relative;
  box-sizing: border-box;
}

.chat__body {
  position: absolute;
  height: calc(100% - 60px);
  width: 100%;
  max-width: 420px;
  margin-top: 60px;

  padding: 1rem;
  padding-top: 12px;
  padding-bottom: 70px;
  overflow-y: auto;

  align-items: flex-end;
  box-sizing: border-box;

  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /* Firefox*/
}

.chat__body > h5 {
  font-weight: 400;
  padding: 8px 14px;
  margin-top: 20px;
  text-align: center;
  background-color: var(--lighter-gray);
  border-radius: 20px;
}

.chat__body > .message:first-child {
  margin-top: 10px;
}

.chat__body > div:last-child {
  margin-bottom: 70px;
  background-color: red;
}

.chat__form {
  position: absolute;
  display: flex;
  height: 60px;
  width: 100%;
  max-width: 419px;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--lighter-gray);
}

.chat__form form {
  background-color: var(--white);
  display: flex;
  height: 40px;
  width: 95%;
  border-radius: 50px;
  justify-content: space-between;
}

.chat__form form input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 0.85rem;
  padding-left: 15px;
  border-radius: 50px;
}

.chat__form form .MuiButtonBase-root {
  color: var(--primary-color);
}

.chat__form form .MuiButtonBase-root:hover {
  background-color: var(--white);
  color: var(--secondary-color);
}
