.home {
  flex: 1;
  position: relative;
}

.home__userProfile {
  margin-top: 70px;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  border-bottom: 4px solid var(--light-gray);
}

.home__userProfile > a {
  width: initial;
}

.home__userProfile .userInfo {
  margin-left: 1rem;
}

.home__userProfile .userInfo h3 {
  font-weight: 600;
  color: var(--font-color);
}

.home__userProfile .userInfo p {
  font-weight: 300;
  color: var(--gray);
}

.home__rooms .MuiCircularProgress-root {
  margin-top: 4rem;
  margin-left: 45%;
}

.home__rooms h3.no-data {
  text-align: center;
  color: var(--font-color);
  padding-top: 2rem;
  font-weight: 400;
}
