.login {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 2rem;
  margin: auto;
}

.login > img {
  max-width: 220px;
  margin-bottom: 2.5rem;
}

.login img.illustration-image {
  object-fit: contain;
  /* width: 40vw; */
  height: 26vh;
  max-height: 250px;
  /* min-height: 200px;
  max-width: 600px; */
}

.login p {
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--font-color);
  margin-bottom: 2rem;
}

.login button {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 8px 2rem;
  margin-top: 2rem;
  border-radius: 50px;
  font-weight: 400;
}

.login button:hover {
  background-color: var(--secondary-hover-color);
}

.login p.login__developerInfo {
  margin-top: 3rem;
  font-size: 13px;
  font-weight: 300;
}
